{% extends "base.html" %}
{% block styles %}{% endblock %}
{% block title %}SurveyExport Cloud service{% endblock %}
{% block body %}
<p class="lead text-center">Hantera dina projekt med enkelhet.</p>
<p class="lead text-center">Vid inloggning kommer du omdirigeras till Gitea
    för att logga in och ge SurveyExport Cloud
    tillåtelse att bläddra bland dina inmätningar.</p>
<p class="lead text-center">Klicka på knappen nedan för att:</p>
<div class="text-center">
    <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg" target="_self">
        <i class="bi bi-github"></i> Logga in.
    </a>
</div>
{% endblock %}
{% block scripts %}{% endblock %}