{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}Dina projekt: {% endblock %}
{% block body %}
<ul>
    {% for repo in repo_infos %}
    <li><a href="{{ url_for('repo_content', owner=repo['owner'], repo_name=repo['name']) }}">{{ repo['name'] }}</a></li>
    {% endfor %}
</ul>

{% if is_admin %}
<a href="{{ url_for('admin_dashboard') }}">Admin dashboard</a>
{% endif %}

<div class="text-center">
    <a href="{{ url_for('logout') }}" class="btn btn-primary btn-lg">
        <i class="bi bi-github"></i> Logga ut.
    </a>
</div>
{% endblock %}
{% block scripts %}{% endblock %}